<div class="main-box">
  <div class="contact-profile">
    <ng-container *ngIf="currentChatBoxDataItem">
      <img [src]="currentChatBoxDataItem.photoUrl" alt="">
      <p>{{currentChatBoxDataItem.name}}</p>
    </ng-container>
    <div class="social-media">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
  </div>
  <app-chat-box [chatBoxDataItem]="currentChatBoxDataItem"></app-chat-box>
  <div class="message-input">
    <div class="wrap">
      <input type="text" placeholder="Write your message..." #chattingInput (keyup)="keyUpEventHandler($event)">
      <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
      <button class="submit" (click)="onSendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
