<div id="contacts" class="">
  <ul>
    <app-search-user></app-search-user>
    <app-search-user></app-search-user>
    <app-search-user></app-search-user>
    <app-search-user></app-search-user>
    <app-search-user></app-search-user>
    <app-search-user></app-search-user>
    <app-search-user></app-search-user>
    <app-search-user></app-search-user>
    <app-search-user></app-search-user>
    <app-search-user></app-search-user>
    <app-search-user></app-search-user>
    <app-search-user></app-search-user>
  </ul>
</div>
