<li class="contact {{isActive ? 'active' : ''}}" routerLink="/chat/tai" (click)="activeChatItem()">
  <div class="wrap">
    <span class="contact-status online"></span>
    <img src="http://emilcarlsson.se/assets/louislitt.png" alt="">
    <div class="meta">
      <div class="d-flex align-items-center justify-content-between">
        <p class="name">
          Louis LittLouis LittLouis LittLouis LittLouis Litt
        </p>
        <em>19-01-2019 19:09</em>
      </div>
      <p class="preview">You just got LITT up, Mike.</p>
    </div>
  </div>
</li>
