<li class="contact {{isActive ? 'active' : ''}}" [routerLink]="'/chat/' + chatDataItem.chatBoxParam"
    (click)="activeChatItem()">
  <div class="wrap">
    <span class="contact-status online"></span>
    <img [src]="chatDataItem.photoUrl">
    <div class="meta">
      <div class="d-flex align-items-center justify-content-between">
        <p class="name">
          {{chatDataItem.name}}
        </p>
        <em>{{chatDataItem.lastMessageDate | date:'dd/MM/yyyy HH:mm'}}</em>
      </div>
      <p class="preview">{{chatDataItem.lastMessageContent}}</p>
    </div>
  </div>
</li>
